.git/

# for WebStorm
.idea/

# VS Code
.vscode

# for npm
node_modules/
npm-shrinkwrap.json
yarn.lock

# for grunt
typings/
.tscache/

# codes
src/
test/
test-tmp/
test-repository/
test-cli/
test-typings/

# misc
example/
.gitignore
.editorconfig
circle.yml
setup.sh
tsconfig.json
tsconfig.lib.json
tslint.json

npm-debug.log

